/* @media (min-width: 1001px) {
    .carousel {
        position: relative;
        height: 440px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        object-fit: cover;
    }

    .carousel img {
        height: 100%;
        object-fit: cover;
    }

    .carousel-track-container {
        background-color: green;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .carousel-track {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 250ms ease-in;
    }

    .carousel-slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .carousel-button-left, .carousel-button-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(196, 193, 164, 1);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
    }

    .carousel-button-left {
        left: -40px;
    }

    .carousel-button-right {
        right: -40px;
    }

    .carousel-button-left, .carousel-button-right {
        width: 30px;
        height: 30px;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .carousel-indicator {
        border: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: rgba(0,0,0,.3);
        margin: 0 12px;
        cursor: pointer;
    }

    .carousel-indicator.current-slide {
        background-color: rgba(0,0,0,.75);
    }

    .is-hidden { display: none; }
} */


@media (min-width: 1001px) {
    .carousel {
        position: relative;
        height: 450px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        /* object-fit: cover; */
    }

    .carousel img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }

    .carousel-track-container {
        background-color: green;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .carousel-track {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 250ms ease-in;
    }

    .carousel-slide {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .carousel-button-left, .carousel-button-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(196, 193, 164, 1);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
    }

    .carousel-button-left {
        left: -40px;
    }

    .carousel-button-right {
        right: -40px;
    }

    .carousel-button-left, .carousel-button-right {
        width: 30px;
        height: 30px;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .carousel-indicator {
        border: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: rgba(0,0,0,.3);
        margin: 0 12px;
        cursor: pointer;
    }

    .carousel-indicator.current-slide {
        background-color: rgba(0,0,0,.75);
    }

    .is-hidden { display: none; }
}