@media (min-width: 1201px) {
    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(196, 193, 164, 1);
    }

    .header-logo img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
    
    header {
        background-color: rgba(196, 193, 164, 1);
    }

    .main-header {
        display: flex;
        justify-content: center;
    }

    header input, label {
        display: none;
    }

    .main-header nav a {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        margin-inline: 40px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(196, 193, 164, 1);
    }

    .header-logo img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
    
    header {
        background-color: rgba(196, 193, 164, 1);
    }

    .main-header {
        display: flex;
        justify-content: center;
    }

    header input, label {
        display: none;
    }

    .main-header nav a {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        margin-inline: 40px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
    }
}


@media (max-width: 700px) {
    header {
        background-color: rgba(196, 193, 164, 1);
        width: 100%;
    }
    
    header {
        display: flex;
        /* flex-direction: row; */
        /* justify-content: space-between; */
    }
    
    /* .main-header nav a:hover {
        text-decoration: underline;
        text-decoration-color: rgba(5, 163, 164, 1);
        text-decoration-thickness: 20%;
    } */
    
    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(196, 193, 164, 1);
    }

    .header-logo img {
        height: 60%;
        max-width: 100%;
        margin-top: 10px;
    }

    /* .main-header .hide {
        display: none;
    } */

    nav,
    #menu-checkbox {
        display: none;
    }

    #menu-checkbox:checked ~ nav {
        display: block;
    }

    .hamburger-icon {
        /* float: right; */
        font-size: 40px;
        /* margin-top: 30px; */
        /* margin-right: 30px; */
        padding: 10px;
        color: white;
    }

    header {
        /* position: relative; */
        /* color: white; */
        /* text-align: center; */
    }

    nav {
        position: absolute;
        background-color: rgba(196, 193, 164, 1);
        /* right: 0px; */
        /* top: 100px; */
    }

    nav a {
        display: block;
        padding: 20px 50px;
        font-family: 'Poppins', sans-serif;;
        text-transform: uppercase;
        font-size: 18px;
        color: black;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
    }
}



