@media (min-width: 1301px) {
    .product-main {
        margin: 0px 150px;
    }

    .specific-recipe-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .recipe-container2, .recipe-container3 {
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }

    .recipe-container2 {
        background-color: rgba(255, 246, 220, 1);
        padding: 40px;
    }

    .recipe-container3 {
        background-color: rgba(196, 193, 164, 1);
    }

    .recipe-container3 ul {
        padding-bottom: 40px;
    }

    .recipe-container3 li {
        padding: 5px 0px;
    }

    .recipe-container3 h2, .instructions-container h3 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        padding: 30px;
    }

    .recipe-container3 .ingredients-container {
        display: flex;
        justify-content: center;
    }

    .instructions-container {
        background-color: rgba(255, 198, 172, 1);
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-top: 20px;
    }

    .instructions-container ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        margin: 0px 40px;
    }

    .instructions-container li {
        padding: 10px 0px;
    }
}