* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.see-all-recipes, .about-button, .view-more {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
    opacity: 0.9;
}

.see-all-recipes {
    background-color: rgba(196, 193, 164, 1);
    cursor: pointer;
}

.about-button, .view-more {
    background-color: rgba(255, 198, 172, 1);
    cursor: pointer;
}

.see-all-recipes:hover, .about-button:hover, .view-more:hover {
    opacity: 1;
}

.see-all-recipes-button {
    position: relative;
    text-align: center;
}

.index-about-container img {
    padding: 10px;
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.index-about-image {
    background-color: rgba(255, 198, 172, 1);
}

.index-about-info {
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-color: rgba(255, 198, 172, 1);
    text-align: center;
}

.index-about-info h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.index-about-info p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container1 {
    display: grid;
    gap: 20px;
}

.container1 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.container1 {
    margin-bottom: 50px;
}

.container1-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 5px 0px;
}

.recipes-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.view-more-button {
    position: relative;
    text-align: center;
}

.box1, .box4 {
    border-radius: 5px;
    background-color: rgba(255, 246, 220, 1);
}

.box1 p, .box4 p {
    font-family: 'Poppins', sans-serif;
}


.box2, .box3 {
    border-radius: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.box2 {
    background-color: rgba(196, 193, 164, 1);
}

.box3 {
    background-color: rgba(255, 198, 172, 1);
}

.box2 img, .box3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form-container {
    margin: 0 auto;
    border-radius: 5px;
    background-image: url("/images/image10.jpg");
    background-size:cover;
    padding: 20px;
}

.form-container p {
    font-family: 'Poppins', sans-serif;
    color: black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px; 
    resize: vertical;
    font-family: 'Poppins', sans-serif;
}

input[type=submit] {
    background-color: rgba(255, 198, 172, 1);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    opacity: 0.9;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 0;
}

input[type=submit]:hover {
    opacity: 1;
}

@media (max-width: 1000px) {
    .see-all-recipes, .about-button, .view-more, .index-about-info p, .box1 p, .box4 p, .form-container p, input[type=text], select, textarea, input[type=submit] {
        font-size: 16px;
    }

    .index-about-container {
        margin: 0px 30px;
    }

    .container1-heading {
        font-size: 18px;
    }

    .about-container1, .about-container2 {
        margin: 0px 20px;
    }

    .box1, .box4 {
        margin: 10px;
    }
}

@media (min-width: 501px) {
    .index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
        margin: 50px 0px 20px 0px;
    }

    .see-all-recipes, .about-button, .view-more {
        padding: 10px;
    }

    .see-all-recipes-button {
        margin: 60px 0px 80px 0px;
    }

    .index-about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .index-about-container img {
        display: flex;
        margin: 0 auto;
    }

    .index-about-image {
        border-radius: 5px 0px 0px 5px;
    }

    .index-about-info {
        border-width: 10px 10px 10px 0px;
        border-radius: 0px 5px 5px 0px;
    }

    .index-about-info p {
        width: 350px;
    }

    .container1 .container2-recipe.mobile {
        display: none;
    }

    .recipes-container {
        margin: 0px 40px;
    }

    .view-more-button {
        padding: 15px;
        margin-bottom: 60px;
    }

    .about-container1, .about-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box1 p, .box4 p {
        margin: 50px;
    }

    .box2 img, .box3 img {
        border-radius: 25px;
        padding: 20px;
    }

    .box3.mobile {
        display: none;
    }
}

@media (min-width: 1001px) {
    .index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
        font-size: 50px;
    }

    .see-all-recipes, .about-button, .view-more {
        font-size: 18px;
    }

    .see-all-recipes-button {
        padding: 15px;
    }

    .index-about-container {
        margin: 0px 50px;
    }

    .index-about-info h2 {
        font-size: 50px;
        margin: 30px 0px;
    }

    .index-about-info p {
        font-size: 18px;
        margin: 0 auto 50px;
    }

    /* Recipes.html ---------------- */

    .container1 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .container1-heading {
        font-size: 20px;
    }

    /* About ------------------ */

    .about-container1, .about-container2 {
        margin: 0px 120px;
    }

    .box1, .box4 {
        margin: 20px;
    }

    .box1 p, .box4 p, .form-container p, input[type=text], select, textarea, input[type=submit] {
        font-size: 18px;
    }

    /* Contact -------------- */

    .form-container {
        width: 40%;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    .index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
        font-size: 40px;
    }

    .index-about-info h2 {
        font-size: 40px;
        margin: 10px 0px;
    }

    .index-about-info p {
        margin: 0 auto 40px;
    }

    /* Recipes.html ---------------- */

    .container1 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* About ------------------ */

    .box2 img, .box3 img {
        display: flex;
        margin: 0 auto;
    }

    /* Contact -------------- */

    .form-container {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
        font-size: 35px;
    }
      
    .index-main h1, .recipes-main h1, .product-main h1, .about-main h1, .contact-main h1 {
        margin: 40px 0px 10px 0px;
    }

    .see-all-recipes, .about-button, .view-more {
        padding: 8px;
    }

    .see-all-recipes-button {
        padding: 20px;
        margin-bottom: 20px;
    }

    .index-about-image {
        border-radius: 5px 5px 0px 0px;
    }

    .index-about-info {
        border-width: 0px 10px 10px 10px;
        border-radius: 0px 0px 5px 5px;
    }

    .index-about-info h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .index-about-info p {
        width: 300px;
        margin: 0 auto 25px;
    }

    /* Recipes.html ---------------- */

    .container2 .container2-recipe.desktop {
        display: none;
    }

    .recipes-container {
        margin: 0px 20px;
    }

    .container1 {
        grid-template-columns: 1fr 1fr;
    }

    .view-more-button {
        padding: 10px;
        margin-bottom: 40px;
    }

    /* About ------------------ */

    .box1 p, .box4 p {
        padding: 20px;
    }

    .box2 img, .box3 img {
        border-radius: 15px;
        padding: 10px;
    }

    .box3.desktop {
        display: none;
    }

    /* Contact -------------- */

    .form-container {
        width: 80%;
    }
}
