* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.pizza-container {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.pizza-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pizza-container img {
    border-radius: 5px;
}

.pizza-heading {
    font-size: 60px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}

.index-recipe-button {
    padding: 30px;
}

.recipe-button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    text-transform: uppercase;
    background-color: rgba(255, 246, 220, 1);
    border-radius: 5px;
    opacity: 0.9;
}

.recipe-button:hover {
    opacity: 1;
}

.index-main h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.see-all-recipes {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

.see-all-recipes-button {
    position: relative;
    text-align: center;
    padding: 15px;
    margin-bottom: 60px;
}

.see-all-recipes {
    padding: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    background-color: rgba(196, 193, 164, 1);
    border-radius: 5px;
    opacity: 0.9;
}

.see-all-recipes:hover {
    opacity: 1;
}

.index-about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-about-container img {
    display: flex;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px;
}

.index-about-image {
    background-color: rgba(255, 198, 172, 1);
}

.index-about-info {
    padding: 30px;
    background-color: white;
    border-style: solid;
    border-color: rgba(255, 198, 172, 1);
    border-width: 5px;
    text-align: center;
}

.index-about-info h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    margin: 30px 0px;
}

.index-about-info p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    width: 350px;
    margin-bottom: 30px;
    margin: 0 auto 50px;
}

.about-button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    background-color: rgba(255, 198, 172, 1);
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

.about-button:hover {
    opacity: 1;
}

/* Recipes.html ---------------- */

.recipes-main h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    margin: 50px 0px;
}

.recipes-container {
    margin: 0px 40px;
}

.container1, .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.container1 img, .container2 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.container1 {
    margin-bottom: 50px;
}

.recipes-container .container1-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.recipes-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
